.header-banner {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer-banner {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.button, button, .btn-details {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0044ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
.hero-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.hero-buttons {
    margin-top: 20px;
}
.hero-buttons a {
    margin-right: 10px;
}
.hero-buttons a:last-child {
    margin-right: 0;
}
.hero-buttons a:hover {
    background-color: #0044ff;
}
.stats {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
.stat-item {
    margin-bottom: 20px;
}
.stat-item span {
    font-size: 1.2em;
}
.stat-item span:first-child {
    font-size: 2em;
    font-weight: bold;
}
.stat-item span:last-child {
    font-size: 1em;
    font-weight: normal;
}
.latest-offers {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

